<div class="about-component">
  <p>
    Hi! My name is Kate Ramsey, and I've been a professional developer for the past {{yearsInCareer}} years. I love to organize,
    create, and solve puzzles; coding lets me do all 3!
  </p>
  <p>
    I excel at using C#. I typically work with data massaging and business logic, the server-side of programming. However, I've
    also dabbled with client-side data display and entry. When it comes to internet clients, I'm most familiar with
    the AngularJs framework but, as you might notice, I'm experimenting with Angular2. I'm a sucker for strongly-typed languages,
    and TypeScript plays to my preference.
  </p>
  <p>
    In any event, this is my programming playground, and where I intend to feature any software projects I personally undertake.
    Feel free to click around, inspect my code, or take a gander at my resume.
  </p>
</div>