<div class="page" id="homepage">
  <div class="page-header">
    <div class="bar bar-title">
      <div class="bar-content">
        <h1>
          <span class="identifier">KateCodes</span><span class="identifier">Net();</span>
        </h1>
        <span class="comment">//and other things</span>
      </div>
    </div>
    <div class="bar bar-navigation">
      <div class="bar-content">
        <div>
          <span class="keyword">var</span> pages =
          <span class="keyword">new </span>[]
          <ul class="array">
            <li *ngFor="let key of contents"><span class="string"><a class="link" (click)="contentClicked(key)">{{key}}</a></span></li>
          </ul>
        </div>
        <div>
          <span class="keyword">var</span> currentPage = <span class="string">{{selectedContent}}</span>;
        </div>
      </div>
    </div>

    <div class="page-content" [ngSwitch]="selectedContent">

      <div *ngSwitchDefault>
        <app-about id="{{aboutKey}}"></app-about>
      </div>

      <div *ngSwitchCase="projectsKey">
        <app-projects id="{{projectsKey}}"></app-projects>
      </div>

      <div *ngSwitchCase="resumeKey">
        <app-resume id="{{resumeKey}}"></app-resume>
      </div>

    </div>
  </div>
</div>