<div class="resume-component">
  <div class="header">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <h3>Kaitlyn Ramsey</h3>
      </div>
      <div class="col-sm-12 col-md-6">
        <div class="contact-info">
          <div class="email link">kate@katecodes.net</div>
          <div class="address">Fort Smith, AR 72903</div>
        </div>
      </div>
    </div>
  </div>
  <div class="body">
    <h4>.NET Developer</h4>
    <p>
      Quality-focused developer with {{yearsOfExperience}} years of experience designing and implementing software-based business solutions. Excels
      at producing clean, maintainable code that provides future flexibility while adapting to shifting requirements. A reliable
      and productive member of any team.
    </p>
    <h4>Proficiencies</h4>
    <h5>Languages</h5>
    <ul>
      <li>Proficient in: C#, VB.NET, DB2 SQL, HTML, LESS, JavaScript</li>
      <li>Experience in: MSSQL, Java, PHP, CSS, SASS, PL/SQL</li>
    </ul>
    <h5>Frameworks</h5>
    <ul>
      <li>Proficient with: .NET, AngularJs</li>
      <li>Experience with: Angular2, jQuery, Entity</li>
    </ul>
    <h5>System Design</h5>
    <ul>
      <li>Proficient with standardized design patterns (Factory, Abstract Factory, Builder, Singleton, etc) to achieve abstraction
        and encapsulation, improving code maintainability and reuse.
      </li>
      <li>Experience designing and implementing unit tests.</li>
    </ul>
    <h5>Technical</h5>
    <ul>

      <li>.NET Framework
        <ul>
          <li>Has used every major release of .NET since Framework 2.0 to create applications ranging from simple clients to
            complex, distributed systems for the enterprise.
          </li>
        </ul>
      </li>

      <li>WCF
        <ul>
          <li>Experience creating Windows Communication Foundation services for use in client and web applications.</li>
        </ul>
      </li>

      <li>Entity Framework 4.0
        <ul>
          <li>
            Comfortable using Microsoft’s Entity Framework to model databases.
          </li>
        </ul>
      </li>

      <li>LINQ
        <ul>
          <li> Extensive use of LINQ to Objects to simplify everyday tasks such as filtration and object manipulation. Has modeled
            application data layers using Microsoft Entity Framework and LINQ to retrieve and interact with application data
          </li>
        </ul>
      </li>

      <li>Unit Testing
        <ul>
          <li>Experience with unit tests to help ensure code quality Extensive experience using AngularJs to display content
            and receive input from customers Hands-on experience creating and using custom directives to encapsulate and
            improve maintainability of logic used across a web application</li>
        </ul>
      </li>

      <li>
        AngularJs
        <ul>
          <li>
            Extensive experience using AngularJs to display content and receive input from customers.
          </li>
          <li>
            Hands-on experience creating and using custom directives to encapsulate and improve maintainability of logic used across
            a web application.
          </li>
        </ul>
      </li>

    </ul>
    <h4>Professional Experience</h4>
    <h5>Software Developer III</h5>
    <h6>ArcBest Technologies, 2013 - Present</h6>
    <ul>
      <li>Operate as a variable resource for projects that lack sufficient manpower and/or technical knowledge to complete projects
        by their deadline.
      </li>
      <li>Collaborate with developers company-wide in order to properly interface with a variety of internal systems.</li>
      <li>Provide code review and 3rd-party testing.</li>
      <li>Notable Projects
        <ul>
          <li>arcb.com
            <ul>
              <li>Condensed decades of business logic, scattered across hundreds of intertwined ASP web pages, into a few dozen
                flexible, consumable WCF services, improving flexibility and maintainability.</li>
              <li>Improved efficiency and accuracy of data through researching current business processes and/or collaborating
                cross-company with data providers.</li>
              <li>Used AngularJs to create and modify numerous responsive, customer-facing web pages and tools to improve the
                user experience.</li>
            </ul>
          </li>
          <li>
            Tracking Notifications
            <ul>
              <li>Designed and implemented an automated system to send email notifications to customers when the status of their
                shipment is changed. Upwards of 2000 notifications are sent monthly. The system includes such features as
                subscription management, SMS messaging support, and system monitoring capabilities.
              </li>
            </ul>
          </li>
          <li>
            CopyCat
            <ul>
              <li>
                Created a clipboard management application from-scratch. CopyCat extends the default Windows clipboard functionality, allowing
                users to store and recall a collection of Windows clipboard content instead of limiting them to a single
                copied item at a time. The application supports customizable hotkeys, image storage, and data encryption.
              </li>
            </ul>
          </li>
        </ul>
      </li>
    </ul>
    <h5>Education & Credentials</h5>
    <h6>B.S., Computer Information Systems, 2013</h6>
    <div>Missouri State University
      <br/>Springfield, Missouri</div>
  </div>
</div>